
@{
    ViewBag.Title = "صفحه اصلی";
}

<h2 style="font-family:SOGAND">صفحه اصلی</h2>
<div style="font-family:SOGAND">
    @Html.ActionLink("لیست محصولات", "Index", "Product", new { name = "" }, new { @class = "btn btn-danger" })
</div>

